#article {
    width:50%;
    margin:auto;
}
#coverimg {
    margin:auto;
}
#coverimg img {
    width:100%;
    margin:auto;
}
#siteheader {
    font-size:150%;
}
#article p {
    font-size:110%;
}
